flask
flask-cors

# for encrypt memo
pycryptodomex

# for database control
flask-sqlalchemy
flask-migrate
mysqlclient

# for env table
python-dotenv

# for token
pyjwt

# for production server
gunicorn
gevent